<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %C.%M:%L [%c] %m%n"/>
        </layout>
    </appender>
    <logger name="INTERCEPTOR_LOGGER" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ConsoleAppender"/>
    </logger>
    <root>
        <level value="FATAL"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</log4j:configuration>
